<%- include('header'); -%>

<div class='content'>
    <H1 ID="welcome">WELCOME to Webstore</H1>
    <h2>Name: John Doe</h2>
    <h2>Address: Examples address 123</h2>
    <h2>Phone Number: 0123456789</h2>
    <h2>Email: John@doe.com</h2>
</div>

<%- include('footer'); -%>